.BrandButton {
  background: var(--color-primary);
  border-radius: var(--radius-base);
  color: var(--color-text);
  font-family: var(--font-brand);
  padding: 0.3em 1.5em;
}

.BrandButton:hover {
  background: var(--color-primary-hover);
  cursor: pointer;
}
